<div>
    <app-header></app-header>
    <div class="container">
        <router-outlet></router-outlet>
    </div>
</div>
<app-footer></app-footer>


<!-- <app-header></app-header>
<div class="container">
    <div class="container-fluid">
        <div class="row content">

            <div class="col-sm-2 sidenav border border-primary my-2 ">
                <p class="display-4">Left side bar </p>
                <app-left-bar></app-left-bar>
            </div>

            <div class="col-sm-8 text-left">
                <p class="display-4">Main Content</p>
                <p>Main content</p>
                <app-header-data></app-header-data>
                <app-login></app-login>
            </div>

            <div class="col-sm-2 sidenav border border-primary my-2 ">
                <p class="display-4">Right side bar </p>
                <app-right-bar></app-right-bar>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer> -->