<p>header-data works!</p>

<p> Server with the id {{ serverId }} is {{ getServerStatus() }}. </p>

<label>Enter server name property binding</label>
<input type="text" class="form-control" (input)="onChangeServerName($event)" >

<label>Enter server name two way binding</label>
<input type="text" class="form-control" [(ngModel)]="serverName">

<p>{{ serverName }}</p>

<button class="btn btn-primary" [disabled]="!addNewServer" 
(click)="onAddServer()" >Add Server</button>

<p> {{addNewServer}} </p>
<p> {{ serverAddStatus }} </p>
<!-- <app-header-data-child> </app-header-data-child> -->

<!-- (event)="expression" -->