<p class="display-4">header-data works!</p>

<p> {{cgDataVar}} </p>

<p> {{mockData}} </p>
<p> {{mockData.id}} </p>
<p> {{mockData.userId}} </p>
<p> {{mockData.title}} </p>
<p> {{mockData.body}} </p>

<p> {{empData}} </p>
<p> {{empData.eid}} </p>
<p> {{empData.name}} </p>
<p> {{empData.salary}} </p>




<!-- 
    
    <p>{{ myData  }}</p>
<p>{{ myData | uppercase }}</p>
<p>{{ myData | lowercase }}</p>
<p>{{serverId | number}}</p>
<p>{{serverId | currency}}</p>
<p>{{serverId | currency:'USD'}}</p>
<p>{{serverId | currency:'EUR'}}</p>
<p>{{serverId | currency:'INR'}}</p>

<p>{{myBday }}</p>
<p>{{myBday | date }}</p>
<p>{{myBday | date | uppercase}}</p>
<p>{{myBday | date:'dd/MM/yyyy' }}</p>


    
    
    
    <p> Server with the id {{ serverId }} is {{ getServerStatus() }}. </p>

<label>Enter server name property binding</label>
<input type="text" class="form-control" (input)="onChangeServerName($event)">

<label>Enter server name two way binding</label>
<input type="text" class="form-control" [(ngModel)]="serverName">

<button class="btn btn-primary" (click)="onAddServer()">Add Server</button>

<p>{{ serverName }}</p>

<p> {{addNewServer}} </p>
<p> {{ serverAddStatus }} </p>

<p *ngIf="addNewServer"> Server is added. </p>
<ng-template #noServer>Server is not added yet.</ng-template>
<p *ngIf="addNewServer; else noServer"> Server is added. </p>


<li *ngFor="let name of names">{{name}}</li>

<p *ngFor="let name of names">{{name}}</p>

<p>Service and DI</p>

<button class="btn btn-primary" (click)="setCurrentStyles()">Set Color</button>

<p [ngStyle]="currentStyles">This p is initially black then red.</p>

<div [ngStyle]="{'background-color':addNewServer ? 'green' : 'red' }">Some more text<div></div> -->